/* Estilo para el cuerpo de la página */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Imagenes/extra_clean_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #0e45ce;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2281e7;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    
    color: #fff;
    margin: 0 10px;
    text-decoration: floralwhite;
}

.select {
    padding: 10px; /* Relleno interno */
    font-size: 16px;
    border: 5px solid #ccc; /* Borde */
    border-radius: 5px; /* Esquinas redondeadas */
}